[submodule "PKGBUILDs/yay"]
	path = PKGBUILDs/yay
	url = https://aur.archlinux.org/yay.git
[submodule "PKGBUILDs/bluez-alsa-git"]
	path = PKGBUILDs/bluez-alsa-git
	url = https://aur.archlinux.org/bluez-alsa-git.git
[submodule "PKGBUILDs/bloomrpc"]
	path = PKGBUILDs/bloomrpc
	url = https://aur.archlinux.org/bloomrpc.git
[submodule "PKGBUILDs/gconf"]
	path = PKGBUILDs/gconf
	url = https://aur.archlinux.org/gconf.git
[submodule "PKGBUILDs/downgrade"]
	path = PKGBUILDs/downgrade
	url = https://aur.archlinux.org/downgrade.git
[submodule "PKGBUILDs/exercism-bin"]
	path = PKGBUILDs/exercism-bin
	url = https://aur.archlinux.org/exercism-bin.git
